<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="" method="post">
        Title: <input type="text" name="title">
        Author: <input type="text" name="author">
        <button type="submit">Add new book</button>
    </form>
    <div id="message"><%= message %></div>
  </body> 
</html>
